body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

.wrapper {}

.head {}

.navigation {}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16em;
    /* 116.667% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16em;
    /* 116.667% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.page-list {}

.page-list-item {
    /* Body Medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.02em;
}

.adress {}

.adress-list {}

.adress-item {
    /* Body */
    font-size: 16px;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.02em;
}

.main {}

.hero {}

.main-heading {
    color: var(--WHITE, #FFF);

    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    /* 107.143% */
    letter-spacing: 0.02em;
}

.button-order {
    color: var(--WHITE, #FFF);

    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.04em;
}

.pluses {}

.second-heading {
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list-pluses {}

.third-heading {
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    /* 120% */
    letter-spacing: 0.02em;
}

.paragraf {
    /* Body */
    font-size: 16px;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.02em;
}

.our-team {}

.our-team-image {}

.footer {}